.infn-sso {
	background-color: #002D4B;
	border: 2px solid white;
	height: 7vh;
	font-size: 1.5rem;
}
.infn-sso:hover {
	background-color: #4697B4;
	opacity: 0.7;
	border: 2px solid white;
	color: #002D4B;
}
